.__ts3w {
  &-word {
    display: inline-block;
    perspective: 1000px;

    &__morphext {
      display: inline;
    }

    &__lng {

      display: none;
      will-change: background;
      cursor: pointer;
      //filter: url("#__ts3w-word-filter_13");
      -webkit-font-smoothing: antialiased;

      outline: 90px solid transparent !important;
      transition: background-color 0.1s ease-out;
      transform: translateZ(0);

      &--current {
        display: block;
      }
    }

    &--visible {
      .__ts3w-word__lng {
        background-color: $c_main;
      }
    }

    &--learned {
      .__ts3w-word__lng {
        display: none !important;
        &--translate {
          display: inline-block !important;
          background: lighten($c_main, 10%);
        }
      }
    }

    &:hover {
      .__ts3w-word__lng {
        //display: none;
        &--all {
          display: inline-block;
          @include centered('x');
          bottom: 100%;
          white-space: nowrap;

        }
      }
    }
  }
}

.__ts3w-svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}