ts3w {
  display: block;
  box-sizing: border-box;
}

.__ts3w-control-panel {
  position: fixed;
  width: $s_defaultWidth;
  height: $s_defaultHeight;
  background: $c_main;
  top: $s_browserPadding;
  right: $s_browserPadding;
  z-index: 99999;
  transition: opacity .3s;
  opacity: .4;
  overflow: hidden;
  border-radius: $s_borderRadius $s_borderRadius 0 0;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }

  &__header {
    cursor: move;
    background: darken($c_main, 20%);
    text-align: center;
    font-size: 16px;
    line-height: 2;
  }

  &__counter {
    font-weight: bold;
  }
}