/*****************************************
*
*               colors
*
*****************************************/

$c_main: #E7EFB8;

/*****************************************
*
*               sizes
*
*****************************************/

$s_browserPadding: 30px;
$s_defaultWidth: 300px;
$s_defaultHeight: 500px;

$s_borderRadius: 10px;
